<h1>MarketShare</h1>
<h3>詳細</h3>
<div class="share">
  <p><%= @share.shop_name %></p>
  <p><%= @share.adress %></p>
  <p><%= @share.body %></p>
  <p><%= @share.created_at %></p>
</div>

<%= link_to "投稿一覧に戻る", shares_path %>